<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <main id="detailsMain">
    <div class="container_title">
      <a href="/search" class="backToSearch">
          <i class="fas fa-arrow-left"></i>
        </a>
      <h2><%= details.name %></h2>
    </div>
     
      <img class="details_image" src="<%= details.image %>"> 

      </img>
      <div id="details">
        <h4>Ready In: <%= details.time %> minutes</h4>
        <h4>Serves: <%= details.servings %></h4>
        <a href="<%= details.source %>" target="_blank"><h4>Original Recipe Site</h4></a>
        <% if (!saved) { %>
          <form action="/recipe/<%= details.recipe_id %>" method="post">
            <input type="hidden" id="name" name="name" value="<%= details.name %>">
            <input type="hidden" id="image" name="image_url" value="<%= details.image %>">
            <input type="hidden" id="time" name="time" value="<%= details.time %>">
            <input type="hidden" id="servings" name="servings" value="<%= details.servings %>">
            <button type="submit" class="submit"  value="Save Recipe">
              <div class="like">
                <i class="fas fa-heart" aria-hidden="true"></i>
              </div> 
            </button>
          </form>
        <% } %>
        <% if (saved) { %>
          <form action="/recipe/<%= details.recipe_id %>" method="post">
            <button type="hidden" name="_method" class="submit" value="delete">
              <div class="like">
                <i class="fas fa-heart" aria-hidden="true"></i>
              </div> 
            </button>
            <input type="submit" class="submit" value="Delete Recipe">
          </form>
        <% } %>
      </div>
      <section id="recipe-ingredients">
        <h4 class = "shoppingListHead">Ingredients:</h4>
        <% details.ingredients.forEach(ingr => { %>
        <h5><%= ingr.measures.us.amount %> <%= ingr.measures.us.unitShort %> <%= ingr.name %></h5>
        <% }) %>
      </section>
      <section id="recipe-instructions">
        <h4>Preparation Instructions:</h4>
        <% details.steps.forEach(step => { %>
        <div class="steps">
          <%if(details.steps.number !== 0) { %><h5><%= step.number %></h5><% } %>
          <p><%= step.step %></p>
        </div>
        <% }) %>
      </section>
    </main>
    <script>
      $(document).ready(function(){
        $(".like").click(function(){
          $(this).toggleClass("heart");
        })
      })
      </script>
  </body>
</html>