<!DOCTYPE html>
<html lang="en">
    <!--Header mit css und fonts und responsive navigation verlinkt-->
  <%- include('../partials/head.ejs') %>
<body>
  <header class="profil">
    <h1 class="welcome">Deine Favoriten <%= name %></h1>
    <a href="/logout" class="logout"><i id="logout_btn" class="fas fa-sign-out-alt"></i></a>
</header>
<section class="safe_recept">
  <!--Navigation verlinkt vom Ordner partials-->
  <%- include('../partials/profil_navi.ejs') %>
</section>
<main>
  <h2 id="pageTitle">Saved Recipes</h2>
    <% savedResults.forEach(result => { %>
      <a href="/recipe/<%= result.recipe_id %>"><section id= "results" recipe_id="<%= result.recipe_id %>" class="search_recipe">
        <img src="<%= result.image %>"/>
        <h3 id="saved_name"> <%= result.name %> </h3>             
      </section></a>
    <% }) %>
</main>
</body>
</html>


